html,
body {
    position: relative;
    height: 100%;

}

* {
    font: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-ser-select: none;
    user-select: none;
    font: 500 16px "Cabin", sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.graphic-container {
    position: relative;
    width: min(80vw, 800px);
    height: fit-content;
}

#hover-overlay {
    position: absolute;
    inset: 0;
    border-radius: 0.25em;
}

#hover-overlay:hover {
    backdrop-filter: blur(5px) brightness(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px dashed rgba(0, 0, 0, 0.7);
}

#hover-overlay:hover::before {
    content: "Download";
    color: rgba(0, 0, 0, 0.7);
    font: 700 50px "Cabin", sans-serif;

}

canvas {
    border: none;
    border-radius: 0.25em;
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

input,
select {
    height: 2em;
    padding: 0 0.5em;
    border: none;
    border-radius: 0.25em;
    background-color: gainsboro;
}

.options {
    width: min(80vw, 800px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.options>div {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

.options>div>label {
    line-height: 2em;
}

.options>div>:first-child {
    grid-column: 1 / 3;
}