:root {
    --text-color: #000000;
    --background-color: #e9f0f3;
    --surface-color: #dfe6eb;
}

* {
    font: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-ser-select: none;
    user-select: none;
    font: 500 16px "Cabin", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.graphic-container {
    position: relative;
    width: min(80vw, 800px);
    height: fit-content;
}

#hover-overlay {
    position: absolute;
    inset: 0;
    border-radius: 0.25em;
}

#hover-overlay:hover {
    backdrop-filter: blur(2px) brightness(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px dashed rgba(0, 0, 0, 0.7);
}

#hover-overlay:hover::before {
    content: "Download";
    color: rgba(0, 0, 0, 0.7);
    font: 700 70px "Cabin", sans-serif;

}

canvas {
    border: none;
    border-radius: 0.25em;
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

#click-me {
    pointer-events: none;
    position: absolute;
    width: min(25%, 200px);
    right: -15%;
    bottom: 0;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

input,
select {
    height: 2em;
    padding: 0 0.5em;
    border: none;
    border-radius: 0.25em;
    background-color: var(--surface-color);
}

a {
    color: rgb(202, 23, 23);
}

.options {
    width: min(80vw, 800px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.options>div {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

.options>div>label {
    line-height: 2em;
}

.options>div>:first-child {
    grid-column: 1 / 3;
}

.options>hr {
    width: 100%;
    border: 2px solid var(--surface-color);
    border-radius: 2px;
}

#footer {
   margin: 0;
}